<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-file="http://www.springframework.org/schema/integration/file"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/integration
    http://www.springframework.org/schema/integration/spring-integration.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd     
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util.xsd 
    http://www.springframework.org/schema/integration/file
    http://www.springframework.org/schema/integration/file/spring-integration-file.xsd">
		
    <context:property-placeholder location="classpath:config/sdReader.properties"/>
    <context:component-scan base-package="khem.solutions.cheminformatics.batch"/>
    
	<int:channel id="input"/>
	<int:channel id="output"/>

    
    <int-file:inbound-channel-adapter 
    	id="inFiles" 
    	directory="/Projects/solutions/khem/dev/Solutions.Cheminformatics.Batch/runtime/input"
	    filename-pattern="*.sdf" 
	    channel="input"
	    prevent-duplicates="true">
	    <int:poller fixed-rate="10"/>
	</int-file:inbound-channel-adapter>
	
	<int:service-activator 
		id="sdReaderSourceService" 
		input-channel="input"
		output-channel="output" 
		ref="sdReaderSource" method="openFile"
	/>

	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
	    <property name="corePoolSize" value="5" />
	    <property name="maxPoolSize" value="10" />
	    <property name="queueCapacity" value="25" />
	</bean>
	
</beans>
